* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.table-Container {
    padding: 15px 20px;

}

.title {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;

}

table {
    border-collapse: collapse;
    width: 70%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.action-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    border: none;
}

.action-group a {
    border: none;
    border-radius: 5px;
    background-color: #cccc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    text-decoration: none;
    color: red;
}

.addNew-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

fieldset label {
    display: inline-block;
    width: 100px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-back {
    border: none;
    border-radius: 5px;
    background-color: #cccc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    text-decoration: none;
    color: red;
    cursor: pointer;
}